<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
        <pluginGroup>org.apache.tomcat.maven</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>artifactory-libs-nonstandard</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>artifactory-ext-nonstandard</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>scs-release</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>scs-snapshot</id>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>deployit-credentials</id>
            <username>${env.DEPLOYIT_USERNAME}</username>
            <password>${env.DEPLOYIT_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>scs-release</id>
                    <name>scs-release</name>
                    <url>https://repository.deere.com/artifactory/scs-release</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>scs-snapshot</id>
                    <name>scs-snapshot</name>
                    <url>https://repository.deere.com/artifactory/scs-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>artifactory-libs-nonstandard</id>
                    <name>artifactory-libs-nonstandard</name>
                    <url>https://repository.deere.com/artifactory/libs-nonstandard-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>artifactory-ext-nonstandard</id>
                    <name>artifactory-ext-nonstandard</name>
                    <url>https://repository.deere.com/artifactory/ext-nonstandard-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>scs-release</id>
                    <name>scs-release</name>
                    <url>https://repository.deere.com/artifactory/scs-release</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>scs-snapshot</id>
                    <name>scs-snapshot</name>
                    <url>https://repository.deere.com/artifactory/scs-snapshot</url>
                    <snapshots />
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>
                    https://scssonarqube.supplymgmt-devl-vpn.us.i15.c01.johndeerecloud.com/
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
